.container{
    max-width: 428px;
    margin: 0 auto;;
    min-height: 100vh;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"] {
    display: inline-block;
    float: right;
}

.save-button {
    background-color: rgb(72, 72, 212); /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 20px;
}

.save-button:hover {
    background-color: white;
    color: rgb(72, 72, 212);
}

.update-contact {
    /* Ensure the container uses flexbox for easy alignment */
    display: flex;
    justify-content: flex-end; /* Align items to the end (right) of the container */
}

#text{
    color: grey;
}

.radio-custom:checked ~ label {
    color: black;
}

label {
    display: block;
    text-align: left;
    color: grey;
    flex: 1;
}

.input-group {
    display: block;
}

.text-group-field {
    padding: 10px;
}

.inner-block {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}