{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'style-new.css' %}">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>
	<title>Add Contact</title>
</head>

<body>
	<div class='container'>
		<header class="hero">
			<div class="hero-info">
				<h1 class="name">Add a team member</h1>
				<p id="text">Set email, location, and role.</p>
				<hr>
			</div>
		</header>

		<form action="" method="POST">
			{% csrf_token %}
			<section class="contact-info">

				<h3>Info</h3>

				<div class="info-line">
					<input type="text" class="type" name="firstname" placeholder="First Name" required>
				</div>

				<div class="info-line">
					<input type="text" class="type" name="lastname" placeholder="Last Name" required>
				</div>

				<div class="info-line">
					<input type="text" class="type" name="email" placeholder="Email" required>
				</div>

				<div class="info-line">
					<input type="text" class="type" name="phone-number" placeholder="Phone Number" required>
				</div>

				<h3>Role</h3>

				<div class="input-group">
					<div class="inner-block">
						<input type="radio" class="radio-custom" id="regular" name="role-choice" value="regular" checked /><br>
						<label id="regular">Regular - Can't delete members</label>
					</div>
					<hr>
					<br>
					<div class="inner-block">
						<input type="radio" class="radio-custom" id="admin" name="role-choice" value="admin" /><br>
						<label id="admin">Admin - Can delete members</label>
					</div>
					<hr>
				</div>

			</section>

			<section class="button-container">
				<div class="update-contact">
					<br>
					<button type=" submit" class="save-button">Save</button>
				</div>
			</section>

		</form>
	</div>

</body>

</html>